{% extends "layout.html" %}

{% block title %}
    My Mission
{% endblock %}

{% block main %}

<h2 class="header">My Mission</h2>

<div class="mission">
    <p>
        My goal with <i class="highlight">SaferSubstance</i> is to create a community of mindful drug users who educate each other about the most important information regarding any psychoactive substance.

        Ideally, any person who is planning an experience could search for the substance of interest on <i class="highlight">SaferSubstance</i> and finds succinct, easy to read and "to the point" advice from other users.
    </p>

    <p>
        To make this work <i class="highlight">SaferSubstance</i> depends on your contribution of advice and (possibly even more important) your vote! <u>You can vote on every advice.</u><br>

        Just keep in mind that advice should not only be written in a comprehensible manner but also be as short as possible and still contain valuable and helpful information.
    </p>

    <p>
        Thank you very much for using and/or contributing to <i class="highlight">SaferSubstance</i>
    </p>

    <p>
        Best,<br>

        MD.
    </p>
</div>

{% endblock %}
